<%- include('includes/head') %>
<h1>Contact</h1>
<div id="main">
	<form>
		<div>
			<label>Name</label>
			<input type="text" class="form-control" id="usr" placeholder="Enter Name">
		</div>
		<div>
			<label>Email</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
		</div>
		<div>
			<label for="exampleTextarea" >Message</label>
			<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
		</div><br>
		<button type="submit" class="btn" id="send">Send</button>
	</form>
</div>

<%- include('includes/footer') %>